html,
body {
  max-width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  // font-weight: bold;
  background: url(part2.png) 0 0 repeat;
  background-size: cover;
  opacity: 0;
  animation: fadeIn ease-in-out 0.5s forwards;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

body::-webkit-scrollbar-thumb {
  height: 30%; 
  background: #00aeff;
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}

.container {
  margin: 0 auto;
  min-width: 1200px;
  .row {
    display: flex;
    .col {
      flex-grow: 1;
      padding: 15px;
    }
  }
}

footer {
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
