.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn ease-in-out 0.5s forwards;
  .img {
    scale: .7;
    filter: invert(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
